@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
    background-color: black;
    color:white
}

h1 {
    color: white;
}

.header {
    text-align: center;
}

.header h1 {
    color: blue;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
}