@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

*{
    margin: 0;

    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: black;
    color:white;
    overflow-x: hidden;
    background-image: url(assets/images/purple-circuit-bg-blurred.jpg);
    /* background-position-y: 100px; */
    background-size:cover;
    background-repeat: repeat-y;
    background-attachment: fixed;
}

.content {
    margin-top: 30px;
    min-height: 100vh;
}

h1 {
    color: white;
}

.header {
    text-align: center;
    align-self: center;
    background-color: navy;
    padding-bottom: 0px;
    padding-top: 20px;
}

.nav {
    text-align: center;
    align-self: center;
    background-color: royalblue;
    padding: 10px;
    padding-bottom: 0px;
    position: sticky;
    top:0;
    z-index: 999;
    font-family: 'Press Start 2P', sans-serif;
}

.nav h1 {
    margin-top: 50px;
}

.nav hr{
    border-color: blue;
    border-width: 2px;
    margin: 20px -10000px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    vertical-align: bottom;
}

.nav a {
    color: gold;
    text-decoration: none;
}

.header h1 {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
}

.header a {
    text-decoration: none;
}

.header h1 a {
    color: gold;
}

.header hr {
    border-color: blue;
    margin: 20px -10000px;
    border-width: 2px;
    margin: 0;
}



body p {
    font-size: 20px;
}

.mini_bio {
    background-color: rgba(53, 76, 255, 0.5);
    color: gold;
    margin: 5%;
    margin-top: 0;
    padding-block: 100px;
    text-align: center;
    border-radius: 25px;
}

.mini_bio h1 {
    font-size: 50px;
    color: gold;
    font-family: 'Press Start 2P', sans-serif;

    display: inline;
    vertical-align: top;
    text-align: center;

    position: relative;
    top: -25%;
}

.mini_bio p {
    font-size: 25px;
    font-family: 'Press Start 2P', sans-serif;
    margin: 100px;
    margin-top: 25px;
    margin-bottom: auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 5%;
    margin: 5%;
    align-self: center;
    
    
}

.game_container {
    background-color: rgba(53, 76, 255, 0);
    place-items: center;
    display: grid;
    border-radius: 50%;
    padding: 0 !important;
    height: 100% !important;
}

.container > div {
    background-color: rgba(53, 76, 255, 0.5);
    place-items: center;
    display: grid;
    border-radius: 5%;
}

.container  > div::before {
    content: "";
    padding-top: 50%;
    padding-bottom: 50%;
    padding-left: 50%;
    padding-right: 50%;
    display: block;
    grid-area: 1 / 1 / 2 / 2;
    /* background-color: red; */
}

.game {
    grid-area: 1 / 1 / 2 / 2;
    align-items:center;
    text-align: center;
    /* display: flex !important; */
    width: 100%;
    /* overflow: hidden; */
    padding: 5%;
}

.game > p {
    clear: both;
    font-size: 100%;
    color: white;
    font-family: 'Press Start 2P', sans-serif;
    text-align: center;
    margin-top: 5%;
    
}

.game > p > a {
    color: lightblue;
}

.container > div > div {
    grid-area: 1 / 1 / 2 / 2;
    align-items:center;
    text-align: center;
}

.container > div > div > img {
   align-self: center;
   display: inline-block;
   image-rendering: pixelated;
   resize: both;
}

.container > div > div > a > img {
    align-self: center;
    display: inline-block;
    image-rendering: pixelated;
    resize: both;
 }

.game_logo {
    align-self: center;
    display: inline-block;
    image-rendering: pixelated;
    resize: both;
    border-radius: 5%;
    padding: 0;
    flex-shrink: 0 !important;
    min-width: 100% !important;
    min-height: 100% !important;
    object-fit: cover !important;
    width: auto !important;
    height: auto !important;
 }

.container h1 {
    font-size: 200%;
    color: gold;
    font-family: 'Press Start 2P', sans-serif;
    text-align: center;
    margin-top: 10%;
}

