@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

*{
    margin: 0;

    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: black;
    color:white;
    overflow-x: hidden;
    background-image: url(assets/images/purple-circuit-bg-blurred.jpg);
    background-position-y: 100px;
    background-size:cover;
}

.content {
    margin-top: 30px;
}

h1 {
    color: white;
}

.header {
    text-align: center;
    align-self: center;
    background-color: navy;
    padding-bottom: 0px;
    padding-top: 20px;
}

.nav {
    text-align: center;
    align-self: center;
    background-color: royalblue;
    padding: 10px;
    padding-bottom: 0px;
    position: sticky;
    top:0;
    z-index: 999;
    font-family: 'Press Start 2P', sans-serif;
}

.nav h1 {
    margin-top: 50px;
}

.nav hr{
    border-color: blue;
    border-width: 2px;
    margin: 20px -10000px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    vertical-align: bottom;
}

.nav a {
    color: goldenrod;
    text-decoration: none;
}

.header h1 {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
}

.header a {
    text-decoration: none;
}

.header h1 a {
    color: gold;
}

.header hr {
    border-color: blue;
    margin: 20px -10000px;
    border-width: 2px;
    margin: 0;
}



body p {
    font-size: 20px;
}

.mini_bio {
    background-color: rgba(5, 17, 190, 0.5);
    color: gold;
    margin: 20px;
    margin-top: 0;
    padding-block: 100px;
    text-align: center;
    border-radius: 25px;
}

.mini_bio h1 {
    font-size: 50px;
    color: gold;
    font-family: 'Press Start 2P', sans-serif;

    display: inline;
    vertical-align: top;
    text-align: center;

    position: relative;
    top: -25%;
}

.mini_bio p {
    font-size: 25px;
    font-family: 'Press Start 2P', sans-serif;
    margin: 100px;
    margin-top: 25px;
    margin-bottom: auto;
}

.games {
    display: flex;
}
.games_column_l {
    flex: 50%;
    background-color: rgba(5, 17, 190, 0.5);
    color: gold;
    margin: 20px;
    padding-block: 200px;
    text-align: center;
    border-radius: 25px;
}



.games_column_l h1 {
    font-size: 75px;
    color: gold;
    font-family: 'Press Start 2P', sans-serif;

    display: inline;
    vertical-align: top;
    text-align: center;

    position: relative;
    top: -25%;
}


.games_column_r {
    flex: 50%;
    background-color: rgba(5, 17, 190, 0.5);
    color: gold;
    margin: 20px;
    padding-block: 200px;
    text-align: center;
    border-radius: 25px;
}

.games_column_r h1 {
    font-size: 75px;
    color: gold;
    font-family: 'Press Start 2P', sans-serif;

    display: inline;
    vertical-align: top;
    text-align: center;

    position: relative;
    top: -25%;
}



